@tailwind base;
@tailwind components;
@tailwind utilities;

*, *::before, *::after {
  margin: 0;
  padding: 0;

  box-sizing: border-box;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  color-scheme: dark light;

  width: 100%;
  min-height: 100%;
}

input::-ms-reveal,
input::-ms-clear {
  display: none;
}

@media (max-width: 768px) {
  html {
    font-size: 87.5%;
  }
}